.footercontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5rem 7rem;
  color: rgb(200, 200, 200);
  align-items: baseline;
}
.coluone {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: rgb(240, 240, 240);
}
.footerele {
  margin: 0rem 1rem;
  padding-bottom: 0.5rem;
}
.footerlogo img {
  width: 10rem;
  margin: auto;
}
.footerlogo {
  display: flex;
  align-items: baseline;
}
.footerele a {
  text-decoration: none;
  color: rgb(200, 200, 200);
  transition: all 0.5s;
}
.footerele a:hover {
  color: rgb(167, 74, 255);
}
